<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | relURL }}" type="image/png">
    {{ end }}
</head>
<body>
    {{ partial "header.html" . }}

    <main id="site-content">
        {{ block "main" . }}{{ end }}
    </main>

    <footer id="site-footer">
        <div class="section-inner">
            <div class="footer-credits">
                <p class="footer-copyright">&copy;
                    {{ now.Format "2006" }} {{ .Site.Title }}
                </p>
            </div>
            <a class="to-the-top" href="#site-header">
                <span class="to-the-top-long">To the top ↑</span>
                <span class="to-the-top-short">Up ↑</span>
            </a>
        </div>
    </footer>
</body>
</html>