{{ define "main" }}
<header class="archive-header">
    <div class="archive-header-inner">
        <h1 class="archive-title">{{ .Title }}</h1>
    </div>
</header>

<div class="posts">
    {{ range .Pages }}
    <article class="post">
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
        </header>
        
        <div class="post-inner">
            <div class="entry-content">
                {{ .Summary }}
            </div>
        </div>
        
        <div class="section-inner">
            <div class="read-more-wrapper">
                <a href="{{ .RelPermalink }}" class="read-more">Read More</a>
            </div>
        </div>
    </article>
    {{ end }}
</div>
{{ end }}